.image_wrapper {
  display: flex;
  flex-direction: column;
}

.img_info_container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.img:hover {
  filter: grayscale(100%);
}

p {
  font-family: monospace;
}
