.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 20px; */
}

.cinefiles-logo {
  width: 80vw;
  text-align: center;
}

.copy {
  color: white;
  font-size: 3vh;
  text-align: center;
  padding: 0px 25vw 0px 25vw;
}

.studio-logos {
  width: 15vw;
  text-align: center;
}
